.topbarContainer{
    height: 70px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    font-family: "Rubik Puddles" , serif;
    margin-left: 20;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
/* divide the container into 12 parts: 3 for the left, 5 for the center, 4 for the right */
.topbarLeft{
    flex: 3; 
}
.topbarCenter{
    flex: 5; 
}

.searchbar{
    width: 40%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;

}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none; 
}

.topbarRight{
    flex: 4; 
    display: flex; 
    align-items: center;
    justify-content: space-around ;
    color:white;
}
.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: "Rubik Puddles" , serif;
    color: white;
    font-weight: 300;
}

.topbarLink:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

a:link {
    color: black;
}

a:visited{
    color: white;
}

a:hover{
    color: lightblue;
}
a:active{
    color: black;
}

.topbarIcons{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.topbarIconItem{
    margin-right: 15;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.topbarImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.Profilebutton{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
}

.IconButton { 
    background-color: #1877f2;
    border-radius: 25%;
    border: none;
}

.IconButton :hover { 
    background-color: #F2F2F2;
    border-radius: 25%;
}